@model List<Product>

@{
    ViewData["Title"] = "Product Manager - Sales Order App";
    Layout = "_Layout";
}

<header class="mx-3 mt-3">
    <div>
        <h1>
            Product Manager
        </h1>
    </div>
</header>

<table class="table table-bordered mx-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Short Description</th>
            <th>Long Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.ShortDescription</td>
                <td>@product.LongDescription</td>
                <td>@product.Image</td>
                <td>$@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.Category.Name</td>
                <td><a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" asp-route-slug="@product.Slug" class="btn btn-dark">Edit</a></td>
                <td><a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" asp-route-slug="@product.Slug" class="btn btn-dark">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Product" asp-action="Add" class="btn btn-primary mx-3 mt-4">Add Product</a>
</div>