@model List<Product>

@{
    ViewData["Title"] = "Product Manager - Sales Order App";
    Layout = "_Layout";
}

<header class="mx-3 mt-3">
    <div>
        <h1>
            Product Manager
        </h1>
    </div>
</header>

<table class="table table-bordered mx-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Short Description</th>
            <th>Long Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.ProductDescShort</td>
                <td>@product.ProductDescLong</td>
                <td><img src="/images/@product.ProductImage"  alt="@product.ProductImage"/></td>
                <td>$@product.ProductPrice</td>
                <td>@product.ProductQty</td>
                <td>@product.Category.Name</td>
                <td><a asp-controller="Product" asp-action="Details" asp-route-id="@product.ProductID" class="btn btn-dark">Details</a></td>
            </tr>
        }
    </tbody>
</table>
