@{
    Layout = "_Layout";

    var current = ViewContext.RouteData.Values["controller"]!.ToString() ?? "";
}

<ul class="nav nav-tabs mt-2 mb-3">
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Home"
           class="nav-link @Nav.Active("Home", current)">
            Home
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="List" asp-controller="Customer"
           class="nav-link @Nav.Active("Author", current)">
            Manage Customers
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="List" asp-controller="Product"
           class="nav-link @Nav.Active("Product", current)">
            Manage Products
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="List" asp-controller="Category"
           class="nav-link @Nav.Active("Category", current)">
            Manage Categories
        </a>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="User"
           class="nav-link @Nav.Active("User", current)">
            Manage Users
        </a>
    </li>
</ul>

    @RenderBody()

@section scripts{
    @RenderSection("scripts", required:false)
}