@model IEnumerable<Trip>

@{
    ViewBag.Title = "My Trip Log";
}

<div action="m-2">
    <a asp-action="Add" asp-controller="Trip" asp-route-id="page1">Add Trip</a>
</div>

<form asp-action="Delete" asp-controller="Trip">
    <table class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Accomodations</th>
                <th>Things To Do</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Trip trip in Model)
            {
                <tr>
                    <td>@trip.Destination.Name</td>
                    <td>@trip.StartDate?.ToShortDateString()</td>
                    <td>@trip.EndDate?.ToShortDateString()</td>
                    <td>
                        <div>@trip.Accomodation.Name</div>
                        @if (trip.Accomodation.HasPhone)
                        {
                            <div>Phone @trip.Accomodation.Phone</div>
                        }
                        @if (trip.Accomodation.HasEmail)
                        {
                            <div>Email @trip.Accomodation.Email</div>
                        }
                    </td>
                    <td>
                        @foreach (Activity activity in trip.Activities)
                        {
                            <div>@activity.Name</div>
                        }
                    </td>
                    <td>
                        <button type="submit" name="id" value="@trip.TripId" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>