@model TechIncidentViewModel
@{
    ViewBag.Title = "List Incidents for Technician";
    Layout = "_Layout";
}

<h1>Technician: @Model.Technician.Name</h1>
<h1>Assigned/Open Incidents</h1>
@if(Model.Incidents.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Date Opened</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model.Incidents)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer.Name</td>
                    <td>@incident.Product.Name</td>
                    <td>@incident.DateOpened.ToShortDateString()</td>
                    <td>
                        <a asp-action="Edit"
                        asp-route-id="@incident.IncidentId"
                        class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <p>The selected technician has no open incidents.</p>
}

<a asp-action="Index" class="btn btn-primary">Switch Technician</a>