@{
    string controller =
    ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string action =
        ViewContext.RouteData.Values["action"]?.ToString() ?? "";
        string area =
        ViewContext.RouteData.Values["area"]?.ToString() ?? "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebsite.styles.css" asp-append-version="true" />
</head>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">My Website</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto">
                        <a class="nav-item nav-link
                      @(controller == "Home" && action == "Index" ? "active" : "")"
                       asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link
                      @(controller == "Product" ? "active" : "")"
                       asp-area="" asp-controller="Product" asp-action="List">Products</a>
                        <a class="nav-item nav-link
                      @(controller == "Home" && action == "About" ? "active" : "")"
                       asp-area="" asp-controller="Home" asp-action="About">About</a>
                        <a class="nav-item nav-link
                      @(controller == "Home" && action == "Contact" ? "active" : "")"
                       asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </div>
                    <div class="navbar-nav navbar-right">
                        <a class="nav-item nav-link
                        @(area == "Help" ? "active" : "")"
                           asp-area="Help" asp-controller="Home" asp-action="Index">HELP ME!!!!!!</a>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <body>
    @RenderBody()
    </body>
</html>
