@{
    string controller =
    ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string action =
        ViewContext.RouteData.Values["action"]?.ToString() ?? "";
    string area =
    ViewContext.RouteData.Values["area"]?.ToString() ?? "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        li{list-style-type:none;}
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SportsPro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link
                            @(controller == "Home" && action == "Index" ? "active" : "")" 
                            asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                            @(controller == "Product" ? "active" : "")"
                            asp-controller="Product" asp-action="List">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                            @(controller == "Technician" ? "active" : "")"
                            asp-controller="Technician" asp-action="List">Technicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                            @(controller == "Customer" ? "active" : "")"
                            asp-controller="Customer" asp-action="List">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                            @(controller == "Incident" ? "active" : "")"
                            asp-controller="Incident" asp-action="List">Incidents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                            @(controller == "Registration" ? "active" : "")"
                            asp-controller="Registration" asp-action="Index">Registrations</a>
                        </li>
                     
                    </ul>
                    
                    <li class="nav-item">
                        <a class="nav-link" id="aboutText" asp-action="Index">About</a>
                    </li>
                </div>
            
            </div>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @if (TempData.Keys.Contains("message"))
                {
                    <h2 class="bg-info text-white text-center p-2 mt-2 rounded">@TempData["message"]</h2>
                }
            </main>
        </div>
        @RenderBody()
        <div class="text-center mt-3 pb-3">
            <footer class="footer fixed-bottom bg-dark text-light border-top">
                © Sports Pro 2023
            </footer>

            <script src="~/lib//jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            @RenderSection("scripts", false)
        </div>
    </div>
</body>
</html>
