@{
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();

    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
    ViewContext.RouteData.Values["controller"]!.ToString() ?? "";
}

@using Microsoft.AspNetCore.Identity
@using MVCHOT2.Models.DomainModels
@inject SignInManager<User> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesOrderApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCHOT2.styles.css" asp-append-version="true" />
</head>
    <body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ps-3 pe-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link @Nav.Active("Home", current)" 
                            asp-action="Index" asp-controller="Home" asp-area="">
                            <span class="fas fa-home"></span>&nbsp;Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Nav.Active("Products", current)" 
                            asp-action="List" asp-controller="Product" asp-area="">
                            <span class="fas fa-book-open"></span>&nbsp;Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Nav.Active("Customers", current)" 
                            asp-action="List" asp-controller="Customer" asp-area="">
                            <span class="fas fa-feather-alt"></span>&nbsp;Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Nav.Active("Categories", current)"
                           asp-action="List" asp-controller="Category" asp-area="">
                            <span class="fas fa-feather-alt"></span>&nbsp;Categories
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if(signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="Logout" asp-controller="Account"
                              asp-area="">
                                <input type="submit" value="Log Out" class="btn btn-outline-light" />
                                <span class="text-light">@User.Identity.Name</span>
                            </form>
                        </li>
                    }else{
                        //get current action
                        var userAction = ViewContext.RouteData.Values["action"]?.ToString();

                         //anonymous user - Register link and log in button
                        <li class="nav-item @Nav.Active("Register", userAction)">
                            <a asp-action="Register" asp-controller="Account"
                            asp-area="" class="nav-link">Register </a>
                        </li>
                  <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account"
                                asp-area="" class="btn btn-outline-info">Login</a>
                                </li>
                    }
                    @if (signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @Nav.Active("Admin", current)"
                                asp-action="Index" asp-controller="" asp-area="Admin">
                                <span class="fas fa-cog"></span>&nbsp;Admin
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>


@*    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Sales Order App</a>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link
                        @(controller == "Home" && action == "Index" ? "active" : "")"
                       asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link
                        @(controller == "Product" ? "active" : "")"
                       asp-controller="Product" asp-action="List">Products</a>
                    <a class="nav-link
                        @(controller == "Category" && action == "List" ? "active" : "")"
                       asp-controller="Category" asp-action="List">Category</a>
                    <a class="nav-link
                        @(controller == "Customer" && action == "List" ? "active" : "")"
                       asp-controller="Customer" asp-action="List">Customer</a>
                </div>

                @if(signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-action="Logout" asp-controller="Account"
                        asp-area="">
                        <input type="submit" value="Logout" class="btn btn-outline-light" />
                        <span class="text-light">@User.Identity.Name</span>
                        
                        </form>
                    </li>
                } else
                {
                    //get current action
                    var userAction = ViewContext.RouteData.Values["action"]?.ToString();

                    //anonymous user - Register link and log in button

                    <li class="nav-item @Nav.Active("Register", userAction)">
                        <a asp-action="Register" asp-controller="Account"
                        asp-area="" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Account"
                        asp-area="" class="btn btn-outline-light">Login</a>
                    </li>
                }

                <div class="navbar-nav navbar-right">
                    <a class="nav-link"
                       asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                </div>
            </nav>
        </nav>*@
@*    </header>*@


    <main>
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SalesOrderApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
